<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.RoomsMapper" >
  <resultMap id="BaseResultMap" type="com.java.entity.Rooms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_pic" property="roomPic" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="room_status" property="roomStatus" jdbcType="VARCHAR" />
    <result column="room_type_id" property="roomTypeId" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_pic, room_num, room_status, room_type_id, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="roomsAndRoomTypeMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rooms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rooms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.java.entity.Rooms" >
    insert into rooms (id, room_pic, room_num, 
      room_status, room_type_id, flag
      )
    values (#{id,jdbcType=INTEGER}, #{roomPic,jdbcType=VARCHAR}, #{roomNum,jdbcType=VARCHAR}, 
      #{roomStatus,jdbcType=VARCHAR}, #{roomTypeId,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java.entity.Rooms" >
    insert into rooms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomPic != null" >
        room_pic,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="roomStatus != null" >
        room_status,
      </if>
      <if test="roomTypeId != null" >
        room_type_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomPic != null" >
        #{roomPic,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null" >
        #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeId != null" >
        #{roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.entity.Rooms" >
    update rooms
    <set >
      <if test="roomPic != null" >
        room_pic = #{roomPic,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null" >
        room_status = #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeId != null" >
        room_type_id = #{roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.entity.Rooms" >
    update rooms
    set room_pic = #{roomPic,jdbcType=VARCHAR},
      room_num = #{roomNum,jdbcType=VARCHAR},
      room_status = #{roomStatus,jdbcType=VARCHAR},
      room_type_id = #{roomTypeId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义-->
  <resultMap id="roomsAndRoomTypeMap" type="com.java.entity.Rooms" extends="BaseResultMap">
    <association property="roomType" column="room_type_id" select="com.java.mapper.RoomTypeMapper.selectByPrimaryKey"/>
  </resultMap>


  <!--根据房间状态查询房间数据-->
  <select id="selectManyByParams" resultMap="roomsAndRoomTypeMap">
    select <include refid="Base_Column_List"/> from rooms
    <where>
      <if test="t.roomStatus!=null and t.roomStatus!=''">
        and room_status=#{t.roomStatus}
      </if>
      <if test="t.roomTypeId!=null and t.roomTypeId!=0">
        and room_type_id=#{t.roomTypeId}
      </if>
    </where>
  </select>

  <!--根据房间状态查询房间数据-->
  <select id="selectAll" resultMap="roomsAndRoomTypeMap">
    select <include refid="Base_Column_List"/> from rooms where flag=1 order BY id DESC
  </select>
  <!--查询房间号是否存在-->
  <select id="getCountByParams" resultType="java.lang.Integer">
    select count(*) from rooms
    <where>
      <if test="t.roomNum!=null and t.roomNum!=''">
        and room_num=#{t.roomNum}
      </if>
    </where>
  </select>


</mapper>